@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Hotel Management System</h1>
    <p class="lead">ASP.NET Core Web project where following n-tier architecture and repository pattern</p>
    <p>Assignment on module 26</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Guest" asp-action="Index">View Guest Index</a>
</div>

@* <div>
    <h6><strong>Website : </strong><a href="https://www.ostad.com" style="color:darkred">www.ostad.com</a></h6>
</div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">

                    </h3>
                    <div class="card-body">
                        <style>
                            #DataTable th,
                            #DataTable td {
                                vertical-align: middle !important;
                                text-align: center;
                        }
                        </style>    
                    <table id="DataTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Submitted By</th>
                                <th>Project Description</th>
                                <th>Course Name</th>
                                <th>Submitted To</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mohammad Ibrahim khalil</td>
                                <td>Smart Hotel Management System</td>
                                <td>Course Name: Full Stack Web Development With ASP.NET Core</td>
                                <td>Ostad</td>
                        </tr>
                            <tr> <!-- Added a new row for additional information -->
                                <td>Contact Number</td>
                                <td>+8801911848073</td>
                                <td>Batch :07</td>
                            <td><strong>Instructor Name:</strong> Mr.Nasir Uddin</td>
                            </tr>                        
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> *@