@model SmartHotelManagement.Contract.Request.UpdateRoomTypeRequest
@{
    ViewData["HeaderTitle"] = "Edit Room Type";
    ViewData["BreadcrumbFirst"] = "Home";
    ViewData["BreadcrumbActive"] = "Room Types Edit";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Edit Room Type</h3>
            </div>
            <form class="form-horizontal" asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RoomTypeId" />
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="RoomTypeName">Name</label>
                        <div class="col-sm-10">
                            <input asp-for="RoomTypeName" class="form-control" />
                        </div>
                        <span asp-validation-for="RoomTypeName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="DefaultRate">Default Rate</label>
                        <div class="col-sm-10">
                            <input asp-for="DefaultRate" class="form-control" />
                        </div>
                        <span asp-validation-for="DefaultRate" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <a asp-action="Index" class="btn btn-default float-right">Back to List</a>
                </div>
            </form>
        </div>
    </div>
 </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
